*/.pio
*/.vscode
CMakeLists.txt
private_*
node_modules
package-lock.json
06_wasserzaehler/test/*read*
06_wasserzaehler/test/image*
Cargo.lock
*png
serverindex.html
target/
[0-9][0-9]_*/include/tpl_*.h
[0-9][0-9]_*/include/template.h
[0-9][0-9]_*/include/wifi_secrets.h
[0-9][0-9]_*/src/tpl_*.cpp
[0-9][0-9]_*/src/wifi_secrets.cpp
[0-9][0-9]_*/min_spiffs.csv
[0-9][0-9]_*/tools/build.sh
[0-9][0-9]_*/tools/EspStackTraceDecoder.jar
[0-9][0-9]_*/tools/upload.sh
[0-9][0-9]_*/tools/dump.sh
[0-9][0-9]_*/tools/stacktrace.sh
.DS_Store
sweep/
