*/.pio
*/.vscode
private_bot.h
private_wifi_secrets.cpp
node_modules
package-lock.json
prj_[0-9]*/src/serverindex.html
prj_[0-9]*/src/wifi_secrets.cpp
prj_[0-9]*/*/template.h
prj_[0-9]*/*/tpl*
prj_06_wasserzaehler/test/*read*
prj_06_wasserzaehler/test/image*
Cargo.lock
*png
*/target/*
